<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Title</div>
    <div class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-4" href="#">Dashboard</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-4" href="#">Shortcuts</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-4" href="#">Overview</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-4" href="#">Events</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-4" href="#">Profile</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-4" href="#">Status</a>
    </div>
  </div>

  <!-- Page content wrapper -->
  <div id="page-content-wrapper">
    <!-- Top navigation -->
    <nav class="naver navbar-expand-lg navbar-light bg-light border-bottom">
      <div class="container-fluid">
        <div class="collpose navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Dropdrow</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page content -->
    <div class="container-fluid">
      <h1 class="mt-4">Simple Slidebar</h1>
      <p>
        The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.
      </p>
    </div>
  </div>
</div>
