<div class="text-center border border-light p-5">
  <p class="h4 mb-4">サインイン</p>

  <%= render  partial: "users/form", locals: { user: @user } %>

  <!-- Register -->
  <p>メンバーではない場合
    <a href="">新規登録</a>
  </p>
</div>
